// 基础样式 - 不限制在当前使用
// 初始化代码
// body {
//   margin: 0;
//   padding: 0;
//   background: #fff;
//   font-family: "Open Sans", sans-serif;
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
//   font-family: "Montserrat", sans-serif;
// }
// p {
//   margin: 0;
//   letter-spacing: 1px;
//   color: #777777;
//   line-height: 1.8em;
// }
// ul {
//   margin: 0;
//   padding: 0;
//   color: #777777;
// }
// p,
// ul,
// ol {
//   letter-spacing: 1px;
// }

/* -- 变量定义 -- */
$colors: (
  red: (
    base: #ff0000
  ),
  orange: (
    base: #ffa500
  ),
  yellow: (
    base: #ffff00
  ),
  green: (
    base: #008000
  ),
  blue: (
    base: #0000ff
  ),
  purple: (
    base: #800080
  ),
  white: (
    base: #ffffff
  ),
  black: (
    base: #000000
  ),
  darkgray: (
    base: #373d41
  ),
  dark: (
    base: #343a40,
    focus: #1d2124
  ),
  success: (
    base: #28a745,
    foucs: #1e7e34
  ),
  warning: (
    base: #ffc107,
    focus: #d39e00
  ),
  danger: (
    base: #dc3545,
    foucs: #bd2130
  ),
  info: (
    base: #17a2b8,
    foucs: #117a8b
  )
);
/* 生成颜色 */
@each $name, $color in $colors {
  .text-#{$name} {
    color: map-get($color, base) !important;
  }
  @if (map-has-key($color, focus)) {
    a.text-#{$name}:hover,
    a.text-#{$name}:focus {
      color: map-get($color, focus) !important;
    }
  }
  .bg-#{$name} {
    background-color: map-get($color, base) !important;
  }
}
.padding {
  padding: 15px;
}
$sizes: (5, 10, 15, 20, 25, 30);
@each $size in $sizes {
  .padding-#{$size} {
    padding: $size + px;
  }
  .padding-v-#{$size} {
    padding: $size + px 0;
  }
  .padding-h-#{$size} {
    padding: 0 $size + px;
  }
  .padding-left-#{$size} {
    padding-left: $size + px;
  }
  .padding-top-#{$size} {
    padding-top: $size + px;
  }
  .padding-right-#{$size} {
    padding-right: $size + px;
  }
  .padding-bottom-#{$size} {
    padding-bottom: $size + px;
  }
  .margin-#{$size} {
    margin: $size + px;
  }
  .margin-v-#{$size} {
    margin: $size + px 0;
  }
  .margin-h-#{$size} {
    margin: 0 $size + px;
  }
  .margin-left-#{$size} {
    margin-left: $size + px;
  }
  .margin-top-#{$size} {
    margin-top: $size + px;
  }
  .margin-right-#{$size} {
    margin-right: $size + px;
  }
  .margin-bottom-#{$size} {
    margin-bottom: $size + px;
  }
}
.in-block {
  display: inline-block !important;
}
.background-fixed {
  background-attachment: fixed !important;
}
.background-scroll {
  background-attachment: scroll !important;
}
.bold {
  font-weight: bold;
}
[v-cloak] {
  display: none !important;
}
